Apache_NIFI/TABLE_TO_TABLE_LOAD_FINAL_VERSION.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>24e857a0-0188-1000-6fd4-e33d9158513b</groupId>
    <name>TABLE_TO_TABLE_LOAD_FINAL_VERSION</name>
    <snippet>
        <controllerServices>
            <id>25b0ac85-e708-3880-0000-000000000000</id>
            <parentGroupId>f89ce938-9eb9-3eec-0000-000000000000</parentGroupId>
            <versionedComponentId>25b0ac85-e708-3880-85ac-52285fd909c9</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>Vertica_DB</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:vertica://EDW-D:5433/EDWDev</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.vertica.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>C:\Users\psingh\Downloads\VerticaJdbcDriver</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>psingh</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>4b53d240-7aac-3035-0000-000000000000</id>
            <parentGroupId>f89ce938-9eb9-3eec-0000-000000000000</parentGroupId>
            <versionedComponentId>4b53d240-7aac-3035-a5b6-4e0da981bb9a</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <dependencies>
                            <dependentValues>confluent-encoded</dependentValues>
                            <dependentValues>schema-name</dependentValues>
                            <dependentValues>hwx-schema-ref-attributes</dependentValues>
                            <dependentValues>hwx-content-encoded-schema</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-name</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <dependencies>
                            <dependentValues>schema-text-property</dependentValues>
                            <propertyName>schema-access-strategy</propertyName>
                        </dependencies>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>embedded-avro-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroReader</type>
        </controllerServices>
        <controllerServices>
            <id>a0bca3a8-c8c6-3b2d-0000-000000000000</id>
            <parentGroupId>f89ce938-9eb9-3eec-0000-000000000000</parentGroupId>
            <versionedComponentId>a0bca3a8-c8c6-3b2d-a331-af916a0460f1</versionedComponentId>
            <bulletinLevel>WARN</bulletinLevel>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.21.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosUserService</identifiesControllerService>
                        <name>kerberos-user-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>MySQL_DB</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:mysql://lvicwebmysqld11.ingramcontent.com:3306/DepotTransform</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>com.mysql.jdbc.Driver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>C:\Users\psingh\Downloads\mysql</value>
                </entry>
                <entry>
                    <key>kerberos-user-service</key>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>DepotTransform_dep</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>462464ca-5d91-3314-0000-000000000000</id>
            <parentGroupId>f89ce938-9eb9-3eec-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>462464ca-5d91-3314-8767-1e8a52fecdc0</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>2345d78c-e9c3-33ce-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>2345d78c-e9c3-33ce-b462-200a7ebac8ed</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>f26b95e6-84b4-3551-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f26b95e6-84b4-3551-96c9-20f26ec58ff3</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>destination.two</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>e8963a5b-fd1c-3e83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8963a5b-fd1c-3e83-9498-98a4b61e5648</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2ed333fd-56e9-33d3-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>2ed333fd-56e9-33d3-bfef-ddc59375c480</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>7af42ff6-769e-3611-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7af42ff6-769e-3611-a93b-a3c6e919fbea</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>785c8351-ae57-3b71-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>785c8351-ae57-3b71-ac43-a211a428774a</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>42b14968-cd62-3d9e-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>42b14968-cd62-3d9e-81c0-6b8d247b9a6e</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>67654081-a8b0-36f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>67654081-a8b0-36f0-8b3f-7f5e2edc1166</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>destination.one</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>e8963a5b-fd1c-3e83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8963a5b-fd1c-3e83-9498-98a4b61e5648</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>4f96edba-ebcb-37ed-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>4f96edba-ebcb-37ed-8eca-2e005c5680c8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>2d46b460-f9e7-372a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>2d46b460-f9e7-372a-8d57-ae698ad46234</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>62c66399-8a0e-3361-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>62c66399-8a0e-3361-a3b0-4588344c6bee</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7e04f02b-19a3-3250-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>7e04f02b-19a3-3250-a845-8d108a2f6d4c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>e8963a5b-fd1c-3e83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8963a5b-fd1c-3e83-9498-98a4b61e5648</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>7af42ff6-769e-3611-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7af42ff6-769e-3611-a93b-a3c6e919fbea</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>87081f9a-f42e-34d9-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>87081f9a-f42e-34d9-b363-783fd3f58f75</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>7dc0c2f1-ca1e-306e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7dc0c2f1-ca1e-306e-b6b1-795d3d4201aa</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>19d7376a-a515-3478-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>19d7376a-a515-3478-a7e6-ffcc05a9beed</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ecfd226-92f7-332f-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>9ecfd226-92f7-332f-87f1-a232a5a2a82d</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>5e8a315f-1486-393c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5e8a315f-1486-393c-92e4-cede04f50e7d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>36530c78-eb1c-342e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>36530c78-eb1c-342e-a362-9f395155c729</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cc09ec82-9a05-35d0-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>cc09ec82-9a05-35d0-99d9-485c8a6a09d5</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>785c8351-ae57-3b71-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>785c8351-ae57-3b71-ac43-a211a428774a</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>5e8a315f-1486-393c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5e8a315f-1486-393c-92e4-cede04f50e7d</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e2e9cf97-1b35-38cb-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>e2e9cf97-1b35-38cb-971c-661c9d1a52ca</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>d3524de5-7e01-3833-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>d3524de5-7e01-3833-95c5-06d1c36e7971</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>f26b95e6-84b4-3551-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f26b95e6-84b4-3551-96c9-20f26ec58ff3</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e42adb40-80d0-369c-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>e42adb40-80d0-369c-ab3e-53d0bdba0019</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>62c66399-8a0e-3361-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>62c66399-8a0e-3361-a3b0-4588344c6bee</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>67654081-a8b0-36f0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>67654081-a8b0-36f0-8b3f-7f5e2edc1166</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f7234df4-79be-3f5f-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <versionedComponentId>f7234df4-79be-3f5f-b23b-f77a218944f8</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>19d7376a-a515-3478-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>19d7376a-a515-3478-a7e6-ffcc05a9beed</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>destination.three</selectedRelationships>
                    <source>
                        <groupId>462464ca-5d91-3314-0000-000000000000</groupId>
                        <id>e8963a5b-fd1c-3e83-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>e8963a5b-fd1c-3e83-9498-98a4b61e5648</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>19d7376a-a515-3478-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>1152.0</x>
                        <y>592.0</y>
                    </position>
                    <versionedComponentId>19d7376a-a515-3478-a7e6-ffcc05a9beed</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>25b0ac85-e708-3880-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>select * from ${SOURCE_SCHEMA}.${SOURCE_TABLE}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>2d46b460-f9e7-372a-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>192.0</x>
                        <y>1008.0</y>
                    </position>
                    <versionedComponentId>2d46b460-f9e7-372a-8d57-ae698ad46234</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>
    <name>Log FlowFile Properties</name>
</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>
    <name>Output Format</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log FlowFile Properties</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Output Format</key>
<value>Line per Attribute</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>windows-1252</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>36530c78-eb1c-342e-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>348.50001525878906</x>
                        <y>11.994155303955097</y>
                    </position>
                    <versionedComponentId>36530c78-eb1c-342e-a362-9f395155c729</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
<value>
    <name>db-fetch-sql-query</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>initial-load-strategy</key>
<value>
    <name>initial-load-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>
    <name>Fetch Size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>
    <name>qdbt-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>
    <name>qdbt-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>
    <name>qdbt-max-frags</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
<value>
    <name>transaction-isolation-level</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>a0bca3a8-c8c6-3b2d-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>depottransform.nifi_job_metadata</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>job_id='2'</value>
                            </entry>
                            <entry>
<key>db-fetch-sql-query</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>initial-load-strategy</key>
<value>Start at Beginning</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>Fetch Size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>qdbt-max-frags</key>
<value>0</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>transaction-isolation-level</key>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>QueryDatabaseTable</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                </processors>
                <processors>
                    <id>5e8a315f-1486-393c-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>852.5000152587891</x>
                        <y>19.994155303955097</y>
                    </position>
                    <versionedComponentId>5e8a315f-1486-393c-92e4-cede04f50e7d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-avro-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JSON container options</key>
<value>
    <name>JSON container options</name>
</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>
    <name>Wrap Single Record</name>
</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
<value>
    <name>Avro schema</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JSON container options</key>
<value>array</value>
                            </entry>
                            <entry>
<key>Wrap Single Record</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Avro schema</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertAvroToJSON</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                </processors>
                <processors>
                    <id>62c66399-8a0e-3361-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>208.0</x>
                        <y>832.0</y>
                    </position>
                    <versionedComponentId>62c66399-8a0e-3361-a3b0-4588344c6bee</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>4b53d240-7aac-3035-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>25b0ac85-e708-3880-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>${TARGET_SCHEMA}</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>${TARGET_TABLE}</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>67654081-a8b0-36f0-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>208.0</x>
                        <y>600.0</y>
                    </position>
                    <versionedComponentId>67654081-a8b0-36f0-8b3f-7f5e2edc1166</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>25b0ac85-e708-3880-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>${SOURCE_SQL}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
                <processors>
                    <id>785c8351-ae57-3b71-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>328.0</x>
                        <y>216.0</y>
                    </position>
                    <versionedComponentId>785c8351-ae57-3b71-ac43-a211a428774a</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>7af42ff6-769e-3611-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>860.5000152587891</x>
                        <y>211.9941553039551</y>
                    </position>
                    <versionedComponentId>7af42ff6-769e-3611-a93b-a3c6e919fbea</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>KEY_COLUMNS</key>
<value>
    <name>KEY_COLUMNS</name>
</value>
                            </entry>
                            <entry>
<key>LOAD_MODE</key>
<value>
    <name>LOAD_MODE</name>
</value>
                            </entry>
                            <entry>
<key>SOURCE_SCHEMA</key>
<value>
    <name>SOURCE_SCHEMA</name>
</value>
                            </entry>
                            <entry>
<key>SOURCE_SQL</key>
<value>
    <name>SOURCE_SQL</name>
</value>
                            </entry>
                            <entry>
<key>SOURCE_TABLE</key>
<value>
    <name>SOURCE_TABLE</name>
</value>
                            </entry>
                            <entry>
<key>TARGET_SCHEMA</key>
<value>
    <name>TARGET_SCHEMA</name>
</value>
                            </entry>
                            <entry>
<key>TARGET_SERVER</key>
<value>
    <name>TARGET_SERVER</name>
</value>
                            </entry>
                            <entry>
<key>TARGET_TABLE</key>
<value>
    <name>TARGET_TABLE</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>warn</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>KEY_COLUMNS</key>
<value>$.KEY_COLUMNS</value>
                            </entry>
                            <entry>
<key>LOAD_MODE</key>
<value>$.LOAD_MODE</value>
                            </entry>
                            <entry>
<key>SOURCE_SCHEMA</key>
<value>$.SOURCE_SCHEMA</value>
                            </entry>
                            <entry>
<key>SOURCE_SQL</key>
<value>$.SOURCE_SQL</value>
                            </entry>
                            <entry>
<key>SOURCE_TABLE</key>
<value>$.SOURCE_TABLE</value>
                            </entry>
                            <entry>
<key>TARGET_SCHEMA</key>
<value>$.TARGET_SCHEMA</value>
                            </entry>
                            <entry>
<key>TARGET_SERVER</key>
<value>$.TARGET_SERVER</value>
                            </entry>
                            <entry>
<key>TARGET_TABLE</key>
<value>$.TARGET_TABLE</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>7dc0c2f1-ca1e-306e-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>1160.0</x>
                        <y>816.0</y>
                    </position>
                    <versionedComponentId>7dc0c2f1-ca1e-306e-b6b1-795d3d4201aa</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>4b53d240-7aac-3035-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>UPDATE</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>25b0ac85-e708-3880-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>${TARGET_SCHEMA}</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>${TARGET_TABLE}</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>${KEY_COLUMNS}</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>d3524de5-7e01-3833-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>704.0</x>
                        <y>832.0</y>
                    </position>
                    <versionedComponentId>d3524de5-7e01-3833-95c5-06d1c36e7971</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>
    <name>db-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
<value>
    <dependencies>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>Statement Type Record Path</name>
</value>
                            </entry>
                            <entry>
<key>Data Record Path</key>
<value>
    <name>Data Record Path</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <dependentValues>UPSERT</dependentValues>
        <dependentValues>UPDATE</dependentValues>
        <dependentValues>SQL</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>
    <dependencies>
        <dependentValues>Use statement.type Attribute</dependentValues>
        <dependentValues>Use Record Path</dependentValues>
        <propertyName>put-db-record-statement-type</propertyName>
    </dependencies>
    <name>put-db-record-allow-multiple-statements</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>4b53d240-7aac-3035-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Statement Type Record Path</key>
                            </entry>
                            <entry>
<key>Data Record Path</key>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>25b0ac85-e708-3880-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>${TARGET_SCHEMA}</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>${TARGET_TABLE}</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Fail on Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-allow-multiple-statements</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>1000</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>e8963a5b-fd1c-3e83-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>672.0</x>
                        <y>408.0</y>
                    </position>
                    <versionedComponentId>e8963a5b-fd1c-3e83-9498-98a4b61e5648</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Routing Strategy</key>
<value>
    <name>Routing Strategy</name>
</value>
                            </entry>
                            <entry>
<key>destination.one</key>
<value>
    <name>destination.one</name>
</value>
                            </entry>
                            <entry>
<key>destination.three</key>
<value>
    <name>destination.three</name>
</value>
                            </entry>
                            <entry>
<key>destination.two</key>
<value>
    <name>destination.two</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Routing Strategy</key>
<value>Route to Property name</value>
                            </entry>
                            <entry>
<key>destination.one</key>
<value>${LOAD_MODE:equals('A')}</value>
                            </entry>
                            <entry>
<key>destination.three</key>
<value>${LOAD_MODE:equals('U')}</value>
                            </entry>
                            <entry>
<key>destination.two</key>
<value>${LOAD_MODE:equals('T')}</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RouteOnAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>destination.one</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>destination.three</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>destination.two</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
                </processors>
                <processors>
                    <id>f26b95e6-84b4-3551-0000-000000000000</id>
                    <parentGroupId>462464ca-5d91-3314-0000-000000000000</parentGroupId>
                    <position>
                        <x>696.0</x>
                        <y>600.0</y>
                    </position>
                    <versionedComponentId>f26b95e6-84b4-3551-96c9-20f26ec58ff3</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.21.0</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>
    <name>dbf-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>
    <name>compression-format</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>
    <name>dbf-default-precision</name>
</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>
    <name>dbf-default-scale</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>
    <name>esql-fetch-size</name>
</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>
    <name>esql-auto-commit</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>25b0ac85-e708-3880-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>TRUNCATE TABLE ${TARGET_SCHEMA}.${TARGET_TABLE}</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>${SOURCE_SQL}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>dbf-normalize</key>
<value>false</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>compression-format</key>
<value>NONE</value>
                            </entry>
                            <entry>
<key>dbf-default-precision</key>
<value>10</value>
                            </entry>
                            <entry>
<key>dbf-default-scale</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-fetch-size</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-auto-commit</key>
<value>true</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQL</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>Table_to_Table_load</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>08/17/2023 16:24:10 UTC</timestamp>
</template>
